<!DOCTYPE html>
<html lang="de">

<head>
  <!-- Built from commit %REACT_APP_VCS_REVISION% -->
  <meta charset="utf-8" />
  <link rel="icon" href="%PUBLIC_URL%/favicon-32.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>
    <%= pageTitle %> - INCLUSIFY
  </title>
  <meta name="theme-color" content="#FFFFFF" />

  <style type="text/css">
    body {
      background: #E8E8E8;
      font-family: Roboto, sans-serif;
      font-size: 16px;
      font-weight: 300;
    }

    .centered {
      max-width: 1024px;
      margin: 20px auto;
    }
  </style>
</head>

<body>
  <div class="centered">
    <h1>
      <%= pageTitle %> - INCLUSIFY
    </h1>
    <div>
      <%= pageContent %>
    </div>
  </div>
</body>

</html>
