@font-face {
    font-family: 'BAM Klavika';
    src: local('BAM Klavika Light Italic'), local('BAMKlavikaLightItalic'),
        url('BAMKlavikaLightItalic.woff2') format('woff2'),
        url('BAMKlavikaLightItalic.woff') format('woff'),
        url('BAMKlavikaLightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'BAM Klavika';
    src: local('BAM Klavika Medium'), local('BAMKlavikaMedium'),
        url('BAMKlavikaMedium.woff2') format('woff2'),
        url('BAMKlavikaMedium.woff') format('woff'),
        url('BAMKlavikaMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BAM Klavika';
    src: local('BAM Klavika Light'), local('BAMKlavikaLight'),
        url('BAMKlavikaLight.woff2') format('woff2'),
        url('BAMKlavikaLight.woff') format('woff'),
        url('BAMKlavikaLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BAM Klavika';
    src: local('BAM Klavika Medium Italic'), local('BAMKlavikaMediumItalic'),
        url('BAMKlavikaMediumItalic.woff2') format('woff2'),
        url('BAMKlavikaMediumItalic.woff') format('woff'),
        url('BAMKlavikaMediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

